body {
	background: black;
	font-family: 'Audiowide', cursive;
}

#container {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 60px 150px 20px 150px;
	user-select: none;
}

#container div {
	width: 33%;
	height: 150px;
	transition: 0.5s ease-in;
	border-radius: 5px;
	margin: 2px;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 48pt;
}

#red {
	border: solid red 1px;
}

#green {
	border: solid green 1px;
}

#blue {
	border: solid blue 1px;
}

#container div:hover {
	width: 66%;
	height: 110px;
	font-size: 56pt;
}

#result {
	display: flex;
	justify-content: center;
	align-items: center;
	color: transparent;
	height: 100px;
	margin: 0px 500px 0px 500px;
	font-size: 24pt;
	border: solid black 1px;
	border-radius: 5px;
	flex-direction: column;
	transition: 0.5s ease-in;
	user-select: none;
}

#result:hover {
	color: white;
	border: solid white 1px;
}

#hex {
	color: white;
	text-align: center;
}

#drawning {
	display: flex;
	flex-direction: row;
}

#drawning p {
	width: 3px;
	height: 10px;
}